app/config/apis/consumer_lookup.xml

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ipx.com/api/services/consumerlookupapi09" xmlns:typens="http://www.ipx.com/api/services/consumerlookupapi09/types" targetNamespace="http://www.ipx.com/api/services/consumerlookupapi09">
<types>
	<xsd:schema targetNamespace="http://www.ipx.com/api/services/consumerlookupapi09/types" elementFormDefault="qualified">
		<xsd:element name="ResolveOperatorRequest">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="correlationId" type="xsd:string"/>
					<xsd:element name="consumerId" type="xsd:string"/>
					<xsd:element name="campaignName" type="xsd:string"/>
					<xsd:element name="username" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="ResolveOperatorResponse">
			<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="correlationId" type="xsd:string"/>
				<xsd:element name="lookupId" type="xsd:string"/>
				<xsd:element name="operator" type="xsd:string"/>
				<xsd:element name="operatorNetworkCode" type="xsd:string"/>
				<xsd:element name="country" type="xsd:string"/>
				<xsd:element name="countryName" type="xsd:string"/>
				<xsd:element name="billingBlocked" type="xsd:int"/>
				<xsd:element name="messageBlocked" type="xsd:int"/>
				<xsd:element name="responseCode" type="xsd:int"/>
				<xsd:element name="responseMessage" type="xsd:string"/>
			</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
	</xsd:schema>
</types>
<message name="resolveOperatorRequest">
<part name="request" element="typens:ResolveOperatorRequest"/>
</message>
<message name="resolveOperatorResponse">
<part name="result" element="typens:ResolveOperatorResponse"/>
</message>
<portType name="ConsumerLookupApiPort">
<operation name="resolveOperator">
<input message="tns:resolveOperatorRequest"/>
<output message="tns:resolveOperatorResponse"/>
</operation>
</portType>
<binding name="ConsumerLookupApiBinding" type="tns:ConsumerLookupApiPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="resolveOperator">
<soap:operation soapAction="tns:resolveOperator"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConsumerLookupApiService">
<port name="ConsumerLookupApi09" binding="tns:ConsumerLookupApiBinding">
<soap:address location="http://europe.ipx.com/api/services2/ConsumerLookupApi09"/>
</port>
</service>
</definitions>

